@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,400&display=swap');

main {
    width: 400px;
    margin: 0 auto;
}

header {
    font-family: 'Merriweather', serif;
    margin-top: 100px;
    padding-bottom: 6px;
    border-bottom: 1px solid #000000;
}

header h1 {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
}

li {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    padding: 10px 8px;
    font-style: italic;
    border-bottom: 1px solid #aeaeae;
}

li:last-child {
    border-bottom: none;
}

footer {
    padding-top: 6px;
    border-top: 1px solid #000000;
}